In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
raw=pd.read_csv('housing.csv')

In [4]:
raw.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
raw.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [6]:
raw= raw[['longitude','latitude','housing_median_age','median_house_value']]

In [7]:
raw.head()

   longitude  latitude  housing_median_age  median_house_value
0    -122.23     37.88                41.0            452600.0
1    -122.22     37.86                21.0            358500.0
2    -122.24     37.85                52.0            352100.0
3    -122.25     37.85                52.0            341300.0
4    -122.25     37.85                52.0            342200.0

In [8]:
x=raw[['longitude','latitude','housing_median_age']]
y=raw['median_house_value']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

/home/adnan/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [11]:
X_train

       longitude  latitude  housing_median_age
10075    -120.15     39.36                 9.0
20251    -119.18     34.23                16.0
13095    -121.37     38.56                27.0
16902    -122.35     37.58                52.0
8312     -118.13     33.77                52.0
12118    -117.14     33.94                 5.0
18453    -121.78     37.22                18.0
7503     -118.27     33.92                34.0
8891     -118.50     34.02                24.0
20210    -119.23     34.30                18.0
173      -122.25     37.80                43.0
9575     -120.58     37.36                33.0
8147     -118.10     33.83                36.0
19009    -122.00     38.35                38.0
7021     -118.10     33.98                34.0
95       -122.26     37.80                36.0
4388     -118.27     34.08                35.0
14406    -117.25     32.77                32.0
17310    -119.50     34.35                39.0
8488     -118.31     33.90                28.0
4158     -118.19     34.11                40.0
10366    -117.68     33.60                19.0
7876     -118.14     33.88                24.0
19007    -121.98     38.36                33.0
12940    -121.25     38.64                21.0
11768    -121.30     38.73                 9.0
502      -122.27     37.85                47.0
17413    -120.59     34.70                29.0
12413    -116.22     33.74                26.0
13021    -121.23     38.71                18.0
...          ...       ...                 ...
5182     -118.25     33.94                37.0
13879    -117.38     34.44                 4.0
17770    -121.86     37.37                15.0
8493     -118.30     33.90                13.0
1805     -122.33     37.93                27.0
19230    -122.66     38.47                23.0
16418    -121.27     37.87                34.0
5363     -118.42     34.04                51.0
13738    -117.21     34.05                 4.0
10093    -117.96     33.93                29.0
12845    -121.38     38.68                35.0
3826     -118.45     34.20                18.0
8971     -118.40     34.01                48.0
6723     -118.15     34.13                34.0
17493    -119.77     34.43                28.0
15748    -122.44     37.77                52.0
10131    -117.91     33.92                21.0
15457    -117.28     33.18                14.0
11675    -117.99     33.85                34.0
2993     -119.09     35.30                 3.0
686      -122.12     37.69                30.0
9676     -119.02     37.64                14.0
7703     -118.13     33.96                38.0
12495    -121.48     38.58                52.0
797      -122.08     37.63                33.0
5725     -118.22     34.19                36.0
5374     -118.38     34.04                39.0
8291     -118.15     33.76                36.0
17847    -121.88     37.41                23.0
1123     -121.58     39.76                19.0

[16512 rows x 3 columns]

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [16]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
model.score(X_test,y_test)

0.2390588227094128

In [18]:
model.predict([[-122.23,37.88,41]])

array([239168.32210321])