In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
raw=pd.read_csv('housing.csv')

In [48]:
raw.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [49]:
raw.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [50]:
raw= raw[['longitude','latitude','housing_median_age','median_house_value']]

In [51]:
raw.head()

   longitude  latitude  housing_median_age  median_house_value
0    -122.23     37.88                41.0            452600.0
1    -122.22     37.86                21.0            358500.0
2    -122.24     37.85                52.0            352100.0
3    -122.25     37.85                52.0            341300.0
4    -122.25     37.85                52.0            342200.0

In [52]:
x=raw[['longitude','latitude','housing_median_age']]
y=raw['median_house_value']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

/home/adnan/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [55]:
X_train

       longitude  latitude  housing_median_age
15588    -116.66     33.09                24.0
12743    -121.36     38.63                30.0
14932    -116.99     32.64                15.0
10706    -117.72     33.61                26.0
16608    -120.64     35.65                 9.0
9453     -123.24     39.81                25.0
7364     -118.20     33.97                43.0
340      -122.18     37.75                46.0
19059    -122.49     38.22                33.0
2149     -119.77     36.77                29.0
6376     -118.03     34.15                43.0
16779    -122.48     37.68                31.0
2351     -119.68     36.79                16.0
14477    -117.21     32.85                15.0
684      -122.14     37.68                31.0
12151    -117.19     33.69                 3.0
2934     -118.98     35.36                29.0
20499    -118.71     34.30                23.0
18367    -122.01     37.18                37.0
9158     -118.44     34.50                 5.0
2176     -119.85     36.76                10.0
7853     -118.15     33.89                33.0
11697    -117.99     33.89                23.0
20230    -119.29     34.26                32.0
15544    -117.10     33.09                 5.0
16701    -120.60     35.10                16.0
16866    -122.40     37.61                35.0
12853    -121.38     38.68                35.0
1801     -122.35     37.92                36.0
11676    -118.00     33.85                33.0
...          ...       ...                 ...
8208     -118.17     33.79                32.0
5329     -118.46     34.05                25.0
13521    -117.41     34.24                20.0
10213    -117.90     33.88                34.0
13089    -121.35     38.55                22.0
7504     -118.27     33.92                35.0
5942     -117.88     34.14                23.0
4295     -118.29     34.09                29.0
2793     -118.30     37.17                22.0
18865    -122.22     38.11                43.0
3802     -118.43     34.20                20.0
18413    -121.85     37.27                17.0
3233     -119.63     36.18                23.0
11213    -117.91     33.81                18.0
12996    -121.25     38.68                15.0
9628     -120.35     37.31                17.0
15415    -117.27     33.22                16.0
4773     -118.34     34.03                48.0
3277     -122.91     39.03                14.0
7334     -118.18     33.98                40.0
19529    -120.98     37.65                40.0
8218     -118.20     33.79                25.0
8770     -118.34     33.79                36.0
3348     -120.38     40.98                27.0
16903    -122.36     37.59                20.0
4330     -118.31     34.08                31.0
18860    -122.22     38.12                15.0
8492     -118.30     33.90                27.0
4741     -118.35     34.05                47.0
10683    -117.77     33.53                32.0

[16512 rows x 3 columns]

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
model = LinearRegression()

In [61]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [63]:
model.score(X_test,y_test)

0.22742954330484802

In [ ]:
model.predict([])